body {
  font-family: 'Manjari', sans-serif;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

h1 {
  width: 100%;
  font-size: 5em;
  text-align: center;
  margin-bottom: 3%;
}

h3 {
  width: 100%;
  font-size: 3em;
  text-align: center;
  margin-top: 5%;
}

.container {
  height: 50%;
  width: 100%;
}

.searchbar-container {
  text-align:center;
  justify-content: center;
  align-content: center;
}

#suggestions {
  justify-content: center;
  height: inherit;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
}

.suggestion {
  border: 1px solid black;
  width: 100%;
  padding: 2%;
  font-size: 1.8em;
  border-radius: 2%;
  background-color: white;
}

.suggestion:hover {
  background-color: rgb(233, 242, 242);
}

.suggestion-message {
  font-size: 2em;
}

#searchbar {
  padding: 2%;
  border: 1px solid black;
  font-family: 'Manjari', sans-serif;
  font-size: 2em;
  border-radius: 2%;
  width: 35%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height: inherit;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#submit {
  font-family: 'Manjari', sans-serif;
  background-color: rgb(82, 145, 247);
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  height: inherit;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#searchbar:focus {
  width: 50%;
}

.weather-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 2%;
  align-content: center;
  height: inherit;
  justify-content: center;
}

.day-card {
    border: 2px solid grey;
    background-color: rgb(217, 230, 242);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 2%;
    padding: 1%;
    justify-content: center;
}

.forecast {
  background-color: rgb(204, 245, 255);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 2.5%;
  height: 240px;
  width: 170px;
  text-align: center;
}

.forecast:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.date {
  text-shadow: 4px 4px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 2em;
  padding: 0;
  margin: 1% 0;
  width: 100%;
}

.time {
  font-size: 2em;
  padding: 1%;
  margin: 1%;
}
.temp {
  font-size: 3.5em;
  padding: 1%;
  margin: 1%;
}
.desc {
  font-size: 2em;
  padding: 1%;
  margin: 1%;
}
.icon {
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}
