<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simple Weather</title>
  </head>
  <body>
    <div id="app">
      <h1>Simple Weather</h1>
      <template v-if="temperatureArray.length == 40">
        <h3>{{cityname}}</h3>
        <div class="weather-container">
          <div v-for="(days, index1) in newDayIndex">
            {{timeArray[newDayIndex[index1]].getDate()}}
            <ul>
              <template v-for="(n, index2) in newDayIndex[index1]">
                <template v-if="index1 == 0">
                <li>
                    {{Math.round(temperatureArray[index2])}} {{descriptionArray[index2]}} {{timeArray[index2].getHours()}}
                </li>
                </template>
                  <template v-else>
                    <template v-if="index2 >= newDayIndex[index1 - 1]">
                    <li>
                      {{Math.round(temperatureArray[index2])}} {{descriptionArray[index2]}} {{timeArray[index2].getHours()}}
                    </li>
                    </template>
                  </template>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </template>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
    var vm = new Vue ({
    el: "#app",
    data: {
      cityname: "",
      temperatureArray: [],
      descriptionArray: [],
      timeArray: [],
    },
    created: function () {
      this.fetchWeatherInfo();
    },
    computed: {
      newDayIndex () {
        var arr = [];
        var currDate = vm.timeArray[0].getDate;
        for (var i = 1; i < vm.timeArray.length; i++) {
          if((vm.timeArray[i]).getDate() != currDate )
          {
            currDate = vm.timeArray[i].getDate();
            arr.push(i);
          }
        }
        return arr;
      },

    },
    methods: {
      fetchWeatherInfo: function () {
        apiKey = "&APPID=7b0e587d598703b6a8747ff1a31bca64"
        url = "https://api.openweathermap.org/data/2.5/forecast?id=3333225&units=metric" + apiKey
        axios.get(url)
            .then(function (res) {
              vm.cityname = res.data.city.name;
                for(var i = 0; i < (res.data.list).length; i++)
                {
                  vm.temperatureArray.push(res.data.list[i].main.temp);
                  vm.descriptionArray.push(res.data.list[i].weather[0].description);
                  vm.timeArray.push(new Date(res.data.list[i].dt_txt));
                }

            });
      },


    }
  });
</script>


</html>
