<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Simple Weather</title>
  </head>

  <body>
    <div id="app">
      <h1>Simple Weather</h1>
      <div class="searchbar-container">
          <input v-model="searchCityName" id="searchbar"  type="text" name="search" placeholder="Search...">
          <button @click="searchNames" id="submit"  type="button" name="Submit">Submit</button>
          <div id="suggestions">
          </div>
      </div>

      <template v-if="temperatureArray.length == 40">
        <h3 id="title">{{cityname}}</h3>
        <div class="container">
          <div class="day-card" v-for="(days, index1) in dayArray">
            <p class="date">{{timeArray[newDayIndex[index1]].toDateString()}}</p>
            <ul class="weather-list">
              <template v-for="(forecast, index2) in dayArray[index1]">
                <li class="forecast">
                  <p class="time">{{dayArray[index1][index2].time}}:00</p>
                  <p class="temp">{{Math.round(dayArray[index1][index2].temp)}}°C</p>
                  <p class="desc">{{dayArray[index1][index2].desc}}</p>
                  <img class="image" v-bind:src="dayArray[index1][index2].img">
                </li>
              </template>
            </ul>
          </div>
        </div>
      </template>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script type="text/javascript" src="js/cityIDs.json"></script>
<script>
    var vm = new Vue ({
    el: "#app",
    data: {
      cityname: "",
      temperatureArray: [],
      descriptionArray: [],
      timeArray: [],
      rainIcon: "img/rain.png",
      sunIcon: "img/sun.png",
      cloudIcon: "img/cloud.png",
      currId: "",
      searchCityName: "",
      searchSuggestions: [],
    },

    watch: {
    currId: function () {
      this.resetWeatherInfo();
      this.fetchWeatherInfo();
    },

    searchCityName: function() {
      this.findSearchSuggestions();
      this.updateSearchSuggestions();
    }
  },

    computed: {
      newDayIndex: {
        get: function() {
        var arr = [];
        var currDate = vm.timeArray[0].getDate();
        arr.push(0);
        for (var i = 0; i < vm.timeArray.length; i++) {
          if((vm.timeArray[i]).getDate() != currDate )
          {
            currDate = vm.timeArray[i].getDate();
            arr.push(i);
          }
        }
        arr.push(vm.timeArray.length - 1);
        return arr;
      },

      set: function() {
        return arr = [];
      }
    },

      dayArray: {
        get: function() {
        var dArr = [];
        var currDate= vm.timeArray[0].getDate();

        for(i = 0; i < vm.newDayIndex.length - 1; i++){
          var forecastArr = [];
          for(j = vm.newDayIndex[i]; j < vm.newDayIndex[i+1]; j++){
            var image;
            if(vm.descriptionArray[j].includes("rain"))
            {
              image = vm.rainIcon;
            }
            else if (vm.descriptionArray[j].includes("cloud") || vm.descriptionArray[j].includes("overcast")) {
              image = vm.cloudIcon;
            }
            else if (vm.descriptionArray[j].includes("clear")) {
              image = vm.sunIcon;
            }

            var forecast = {temp: vm.temperatureArray[j], desc:vm.descriptionArray[j], time: vm.timeArray[j].getHours(), img: image};
            forecastArr.push(forecast);
          }
          dArr.push(forecastArr);
        }

        return dArr;
      },

      set: function() {
        return dArr = [];
      }
    },
  },

    methods: {
      searchNames: function () {
                for (var i = 0; i < cityIDs.length; i++) {
                  if(this.searchCityName.toLowerCase() == cityIDs[i].name.toLowerCase() ) {
                    this.currId = cityIDs[i].id;
                  }
                }
            },

      resetWeatherInfo: function () {
          vm.temperatureArray = [];
          vm.timeArray = [];
          vm.descriptionArray = [];
          vm.dayArray = [];
          vm.newDayIndex = [];
      },

      findSearchSuggestions: function () {
          vm.searchSuggestions = [];

          if(vm.searchCityName == "")
          {
            return;
          }

          for (var i = 0; i < cityIDs.length; i++) {
            if (cityIDs[i].name.toLowerCase().includes(vm.searchCityName.toLowerCase()) ) {
              if(cityIDs[i].name.toLowerCase().startsWith(vm.searchCityName.toLowerCase())) {
                vm.searchSuggestions.unshift(cityIDs[i].name)
              }
              else {
                vm.searchSuggestions.push(cityIDs[i].name)
              }
            }
          }
      },

      updateSearchSuggestions: function () {
        var searchbarSuggestions = document.getElementById("suggestions");
        while (searchbarSuggestions.firstChild) {
          searchbarSuggestions.removeChild(searchbarSuggestions.firstChild);
        }

        for (var i = 0; i < vm.searchSuggestions.length; i++) {
          var suggestion = document.createElement("div");
          suggestion.className = "suggestion";
          var text = document.createTextNode(vm.searchSuggestions[i]);
          suggestion.appendChild(text);

          searchbarSuggestions.appendChild(suggestion);
        }
      },

      fetchWeatherInfo: function () {
        apiKey = "&APPID=7b0e587d598703b6a8747ff1a31bca64"
        units = "&units=metric"
        url = "https://api.openweathermap.org/data/2.5/forecast?id=" + vm.currId + units + apiKey
        axios.get(url)
            .then(function (res) {
              vm.cityname = res.data.city.name;
                for(var i = 0; i < (res.data.list).length; i++)
                {
                  vm.temperatureArray.push(res.data.list[i].main.temp);
                  vm.descriptionArray.push(res.data.list[i].weather[0].description);
                  vm.timeArray.push(new Date(res.data.list[i].dt_txt));
                }

            });
      },
    }
  });
</script>




</html>
